<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/style.css}" />
    <title>Cryptodos | New User</title>
  </head>
  <body>
    <form th:action="@{/user}" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <input type="submit" value="Create User" />
    </form>
  </body>
</html>
